<!-- 
  https://developers.giphy.com/ 
  en esta pagina realizaremos las peteciones para esta aplicacion

  api.giphy.com/v1/gifs/search

  4uu2YdW62g8Yt5dmrm6mlC8LNt07LJDO  -> el cual lo cremos en la pagina, nota ingresamos con el facebook.

  NOTA: https://quicktype.io/  -> hace el tipado tambien le puede descargar la extencion
-->

<div class="d-flex">

<!-- Sidebar -->
  <app-sidebar></app-sidebar>
<!-- End Sidebar -->

<!-- Contenido  -->
<app-gifs-page class="container"></app-gifs-page>
<!-- End Contenido  -->

</div>